
.hero {
    max-width: 1200px;
    height: 400px;
    background: url('/images/hero.jpg') no-repeat center top;
    background-size: contain;
    }

.slide-content {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}


.item-container {
    display            : flex;
    flex-wrap          : wrap;
    justify-content    : space-around;
    align-items        : flex-start;
}

.item {
    max-width: 320px;
    margin: 22px 6px;
    z-index: 1;
    cursor: pointer;

    img {
        width: 90%;
        height: auto;
    }
}